* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

img {
  width: 100%;
}

.row {
  display: flex;
  font-size: 40px;
  justify-content: center;
  margin: 1px;
}

.item {
  flex: 1;
  padding: 30px;
  border: 1px solid black;
  position: relative; 
  overflow: hidden; 
}

.overlay {
  position: absolute;
  bottom: -100px;
  left: 0; 
  width: 100%; 
  height: 100px; 
  transition: bottom ease 1s;
  background: black; 
  color: white;
  opacity: 0.9; 
}

.item:hover .overlay {
  display: block;
  bottom: 20px; 

}

@media only screen and (max-width: 600px) {
.container {
   flex-direction: column; 
}

}

@media only screen and (max-width: 850px) {
  .container {
     flex-direction: column; 
  }
  
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  

